body {
  background-color: #f9f9f9 !important;
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif !important;
}

a {
  text-decoration: none;
}

.ui.button,
.ui.input,
.ui.form input {
  font-family: 'Titillium Web', sans-serif !important;
}

header {
  height: 50px;
  background: #1a2129;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

header h2 {
  color: #fff;
  margin: 0;
  padding: 10px;
  position: absolute;
  left: 10px;
}

.app {
  margin-top: 100px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.card.login-card {
  width: 450px;
}

.ui.form input[type='text'],
.ui.form input[type='password'],
.ui.form select {
  margin-top: 10px;
}

.logout {
  float: right;
  position: relative;
  top: 4px;
  right: 15px;
}

.actions {
  text-align: right;
}

.actions button {
  margin-right: 5px;
}

.actions a {
  margin-left: 5px;
}

/* profile image */
.profile-image {
  padding: 20px;
}

.profile-image img {
  width: 100%;
  height: auto;
}

.file-input {
  display: none;
}

.upload-button {
  float: right;
  margin-top: 20px;
}